{% extends "layout.html" %}
{% block title %}Candidature{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block content %}
<h1>
    Candidature Spontanée
</h1>
<hr>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
    {% endif %}
{% endwith %}
<div class="container d-flex justify-content-center">
<form method="POST" id="AddCVForm" name="AddCVForm" class="mt-4">
    {{ add_cv_form.csrf_token }}
    <fieldset disabled>
    <div  class="form-group">
        <label class="form-control-label" for="ID">ID :</label>
        {{ add_cv_form.ID(class="form-control form-control-login-register", placeholder=" ", required="required",value=last_id+1) }}
    </div>
</fieldset>
    <div  class="form-group">
        <label class="form-control-label" for="Nom">Nom :</label>
        {{ add_cv_form.Nom(class="form-control form-control-login-register", placeholder=" ", required="required") }}
    </div>
    <div  class="form-group">
        <label class="form-control-label" for="Prenom">Prénom :</label>
        {{ add_cv_form.Prenom(class="form-control form-control-login-register", placeholder=" ", required="required") }}
    </div>
    <div  class="form-group">
        <label class="form-control-label" for="Gender">Genre :</label>
        {{ add_cv_form.Gender(class="form-control form-control-login-register", placeholder=" ", required="required") }}
    </div>
    <div  class="form-group">
        <label class="form-control-label" for="Fonction">Fonction :</label>
        {{ add_cv_form.Fonction(class="form-control form-control-login-register", placeholder=" ", required="required") }}
    </div>
    <div  class="form-group">
        <label class="form-control-label" for="Domaine">Domaine :</label>
        {{ add_cv_form.Domaine(class="form-control form-control-login-register", placeholder=" ", required="required") }}
    </div>
    <div  class="form-group">
        <label class="form-control-label" for="Niveau">Niveau :</label>
        {{ add_cv_form.Niveau(class="form-control form-control-login-register", placeholder=" ", required="required") }}
    </div>
    <div  class="form-group">
        <label class="form-control-label" for="ColonneExperience">Expérience :</label>
        {{ add_cv_form.ColonneExperience(class="form-control form-control-login-register", placeholder=" ", required="required") }}
    </div>
    <div  class="form-group">
        <label class="form-control-label" for="Localisation">Localisation :</label>
        {{ add_cv_form.Localisation(class="form-control form-control-login-register", placeholder=" ", required="required") }}
    </div>
    <div  class="form-group">
        <label class="form-control-label" for="Source">Source :</label>
        {{ add_cv_form.Source(class="form-control form-control-login-register", placeholder=" ", required="required") }}
    </div>
    <div  class="form-group">
        <label class="form-control-label" for="Url">Url :</label>
        {{ add_cv_form.Url(class="form-control form-control-login-register", placeholder=" ", required="required") }}
    </div>

    {{ add_cv_form.addcvsubmit (class="btn custom-btn custom-btn-login-register")}}
</div>
</form>
</div>
{% endblock %}