{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% block content %}
<h1>
  Bienvenue à la page de connexion
</h1>
<hr>
<div class="container d-flex justify-content-center">
<form method="POST" action="/login">
  {{ form.csrf_token }}
  <form action="{{ url_for('login') }}" method="post">
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="username">Nom d'utilisateur:</label>
      <input class="form-control form-control-login-register" placeholder="Entrer votre nom d'utilisateur " type="username" id="username" name="username" required>
    </div>
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="password">Mot de Passe:</label>
      <input class="form-control form-control-login-register" placeholder="Entrer votre MDP " type="password" id="password" name="password" required>
    </div>
    <button class="btn  custom-btn  custom-btn-login-register" type="submit">Se connecter</button>
</form>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
{% endblock %}